<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<meta name="description" content="MF DNS Resolver" />
	<meta name="keywords" content="mvc,php,example,blank,app" />
	
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="Blank App" />
	<meta property="og:title" content="Blank App" />
	<meta property="og:description" content="App description" />
	<meta property="og:url" content="https://app.example.com" />
	<meta property="og:locale" content="ru_RU" />
	<meta property="og:image" content="/img/preview.png" />
	<meta property="og:image:width" content="968" />
	<meta property="og:image:height" content="504" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
	<link rel="stylesheet" type="text/css" href="https://bootstrap.themes.guide/greyson/theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/custom.css?v={{ version }}" />
	<link rel="icon" type="image/png" href="/img/favicon.png" />
</head>