<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" id="navbar1">
	<div class="container">
		<a class="navbar-brand mr-1 mb-1 mt-0" href="/">Blank</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#navs">Element</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#navs">Element</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#navs">Element</a>
				</li>
			</ul>
		</div>
	</div>
</nav>